:root {
  --primary-bg-color: #ffffff;
  --primary-color: #3a3a3a;
  --other-message-bg-color: #0093ad;
  --secondary-color: #7289da;
  --header-bg-color: #0093ad;
  --last-message-on-room-list-unread: #079b07;
  --user-name-on-room-list: #444444;
  --last-message-seen-on-room-list: #808080;
  --typing-text-color: #35ff35;
  --search-input-font-color: #ffffff;
  --search-input-placeholder-color: #c0c0c0;
}

.messages {
  /* https://in.pinterest.com/pin/543950461247824082/ */
  background-image: url("https://i.pinimg.com/564x/1b/b1/3f/1bb13f4acb5b69fb41bc5974c6dc8248.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
