:root {
  --primary-bg-color: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  --main-glass-bg-color: #27272766;
  --primary-color: #ffffff;
  --secondary-light-color: #eeeeee;
  --primary-dark-color: #424242;
  --own-message-bg-color: linear-gradient(0deg, #ffffff10, #ffffff2f);
  --other-message-bg-color: linear-gradient(0deg, #29292978, #29292952);
  --secondary-color: #7289da;
  --header-bg-color: inherit;
  --last-message-on-room-list-unread: #2bff2b;
  --user-name-on-room-list: var(--primary-color);
  --last-message-seen-on-room-list: var(--secondary-light-color);
  --last-message-seen-on-room-list-time: var(--secondary-light-color);
  --typing-text-color: #35ff35;
  --search-input-font-color: var(--primary-color);
  --search-input-placeholder-color: var(--secondary-light-color);
  --auth-page-submit-btn-bg-color: transparent;
  --auth-page-submit-btn-color: var(--primary-color);
  --auth-page-input-default-border: #b1b1b1;
  --room-list-background-color: transparent;
  --room-list-item-background: linear-gradient(0deg, #0000001f, #bebebe23);
  --chat-window-background: transparent;
  --auth-page-card-wrapper-bg: transparent;
  --header-border-color: #dfdfdf78;
  --search-user-background: linear-gradient(0deg, #e3e3e317, #e3e3e357);
  --message-input-bg-color: #ffffff40;
  --message-input-placeholder-color: var(--secondary-light-color);
  --message-input-border-top-color: #b1b1b1;
  --message-input-color: var(--primary-color);
  --room-list-popup-menu-bg-color: #27272766;
  --room-list-popup-menu-bg-hover-color: #27272773;
  --incoming-call-popup-bg-color: #27272767;
  --incoming-call-popup-border-color: #dfdfdf50;
}
