:root {
  --primary-bg-color: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);

  --primary-color: #ffffff;
  --secondary-light-color: #eeeeee;
  --own-message-bg-color: linear-gradient(0deg, #ffffff10, #ffffff2f);
  --other-message-bg-color: linear-gradient(0deg, #29292978, #29292952);
  --secondary-color: #7289da;
  --header-bg-color: #ffffff00;
  --last-message-on-room-list-unread: #079b07;
  --user-name-on-room-list: var(--primary-color);
  --last-message-seen-on-room-list: var(--secondary-light-color);
  --last-message-seen-on-room-list-time: var(--secondary-light-color);
  --typing-text-color: #35ff35;
  --search-input-font-color: #ffffff;
  --search-input-placeholder-color: #c0c0c0;
  --auth-page-submit-btn-bg-color: transparent;
  --auth-page-submit-btn-color: var(--primary-color);
  --auth-page-input-default-border: #b1b1b1;
  --room-list-background-color: #27272787;
  --room-list-item-background: linear-gradient(0deg, #ffffff18, #ffffff3b);
  --chat-window-background: #27272752;
  --auth-page-card-wrapper-bg: #27272752;
  --header-border-color: #dfdfdf78;
}
