html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  color: var(--primary-color);
  background-color: #62cbff;
  background-image: radial-gradient(
    circle farthest-corner at 11.7% 80.6%,
    #f9b9ff 0%,
    #b1acff 49.3%,
    #62cbff 89%
  );
}

#app {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.header {
  height: 3rem;
  background: var(--header-bg-color);
  position: sticky;
  top: 0;
  border-bottom: 1px solid var(--header-border-color);
}

.form input {
  font-size: 1rem;
}

.room-list-item {
  border: 1px solid var(--header-border-color);
  background: var(--room-list-item-background);
  border-radius: 3px;
  margin: 0.3rem;
}

.fadeIn {
  animation: fade-in 0.3s ease-out;
}

.scale-up {
  animation: scale-up 1s ease-out;
}

.delay-fadeIn {
  animation: delay-fadeIn 1.5s ease-out;
}

.animate-duration-400 {
  animation-duration: 0.4s;
}

.animate-duration-600 {
  animation-duration: 0.6s;
}
.animate-duration-700 {
  animation-duration: 0.7s;
}

.animate-duration-800 {
  animation-duration: 0.8s;
}

.animate-duration-900 {
  animation-duration: 0.9s;
}

@keyframes zoom-in {
  0% {
    transform: scale(0.95);
    opacity: 0;
  }
  80% {
    /* transform: scale(1.01); */
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes zoom-out {
  0% {
    transform: scale(1.1);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scale-up {
  0% {
    height: 0;
    visibility: hidden;
  }
  75% {
    height: 0;
    visibility: hidden;
  }
  100% {
    height: 1rem;
    visibility: visible;
  }
}

@keyframes delay-fadeIn {
  0% {
    visibility: hidden;
  }

  50% {
    visibility: hidden;
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}

.chat-app {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 90rem;
  margin: auto;
  box-shadow: 0 4px 15px 0 #00000054;
  background: var(--main-glass-bg-color);
}

.full-width {
  max-width: 100vw;
}

.messages {
  height: calc(94vh - 3rem - 3rem);
  transform: translateZ(0);
  will-change: transform;
  scroll-behavior: smooth;
}

.room-list-container {
  max-width: 25rem;
  background: var(--room-list-background-color);
  backdrop-filter: blur(5px);
  height: 94vh;
  border-right: 1px solid var(--header-border-color);
}

.new-chat-window-container {
  background: var(--chat-window-background);
  height: 94vh;
}

.chat-window {
  height: 94vh;
}

.search-user-header {
  display: flex;
}

.search-user {
  display: none;
}

@media screen and (max-width: 940px) {
  .search-user-header {
    display: none;
  }

  .search-user {
    display: flex;
  }

  .room-list-container {
    max-width: 100%;
    height: 100vh;
    border-right: none;
  }

  .chat-window-container {
    position: absolute;
    top: 0;
    left: 0;
  }

  .messages {
    height: calc(100vh - 3rem - 3rem);
  }

  .new-chat-window-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
  }

  .chat-window {
    height: 100vh;
  }

  .zoomOut {
    animation: zoom-out 0.3s ease-out;
  }

  .off-screen-mobile {
    transform: translateX(-100%);
  }

  .zoomIn-enter-active {
    animation: zoom-in 0.3s;
  }
  .zoomIn-leave-active {
    animation: zoom-in 0.4s reverse;
  }

  .zoomOut-enter-active {
    animation: zoom-out 0.3s;
  }
  .zoomOut-leave-active {
    animation: zoom-out 0.4s;
  }
}

@media screen and (min-width: 941px) {
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0000003b;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #29292978;
  }
}

.login-page {
  background: linear-gradient(132deg, #0093ad, #7289da, #b900aa, #1815bd);
  background-size: 400% 400%;
  animation: animate-gradient 15s ease infinite;
}

.particle {
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border: 2px solid #ffffff9d;
  animation: zoom-in-appear 8s linear infinite;
  opacity: 0;
}

.particle.one {
  top: -2%;
  left: 10%;
  animation-delay: 0s;
}

.particle.two {
  top: 25%;
  left: 75%;
  animation-delay: 2s;
  border-radius: 50%;
}

.particle.three {
  top: 40%;
  left: 2%;
  animation-delay: 4s;
  border-radius: 50%;
}

.particle.four {
  top: 80%;
  left: 30%;
  animation-delay: 6s;
}

.particle.five {
  top: 85%;
  left: 90%;
  animation-delay: 8s;
  transform: rotate(45deg);
}

@keyframes animate-gradient {
  0% {
    background-position: 0% 50%;
  }
  40% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes zoom-in-appear {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(4);
  }
}
