html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  color: var(--primary-color);
  background-color: var(--primary-bg-color);
}

.form input {
  font-size: 1rem;
}
